/* General Styles for Dark Theme */
body {
    color-scheme: light dark;
    color: #E0E0E0; /* Light text color */
    font-family: Arial, sans-serif;
    display: flex;
}

/* StageDiv Style */
.stage-tasks {
    
    padding: 20px; /* Padding for internal spacing */
    max-width: 760px; /* Base width for comparison */
}

.task-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2c2a2a;
  cursor: pointer;
  margin: 5px;
  aspect-ratio: 1;
  width: 300px;
  transition: border-color 0.5s;
  
}

.task-button:hover {
    background-color: #8f8b8b;
    transition: 0.5s;
}

.stage-title {
    font-size: 40px;
}

.test {
    position: fixed;
}

table {
    border-collapse: collapse;
    display: grid;
    overflow-x:auto;
}